body{
    min-height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
}

section{
    background-color: rgb(75, 139, 134);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
 }
    
 h1{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
     font-size: 45px;
    }

#contador{
    font-size: 80px;
    color: whitesmoke;
    padding: 30px 50px;
    height: 120px;
}

button {
    color: rgb(255, 255, 255);
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgb(17, 58, 54);
    border-radius: 10px;
    border-color: rgb(0, 84, 70);
}
